# Uninstall packages from venv: pip uninstall -y -r <(pip freeze)
# Project-specific requirements

# Erebus requirements
# numpy
# termcolor==2.5.0
# opencv-python
# easyocr

# Data receiver (only for logging)
# ngrok
# flask
# TODO: remove requests for competition
requests==2.32.3
opencv-python
numpy
Cython>=0.24,<0.30
Sphinx==6.1.3
#docutils<0.13.1
PyOpenGL
glfw
pypandoc==1.4
git-lfs
mock
Pillow
#-e.
